
@font-face{
    font-family: Bodoni;
    font-style: normal;
    src: url("./fonts/bodoni_[allfont.ru].ttf") format("truetype");
}
@font-face{
    font-family: Comissioner;
    font-style: normal;
    src: url("./fonts/Commissioner-Regular.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    box-sizing: border-box;
    overflow: hidden;
    min-width: 300px;
}
body{
    font-family: 'Comissioner';
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 28px;
}
.hide_content{
    opacity: 0;
}

h2{
    line-height: 40px;
    font-family: 'Bodoni';
}
.mobile{
    display: none;
}
header{
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    width: 100%;
    /* display: flex;
    align-items: center; */
}
header a{
    font-size: 16px;
    font-weight: 600;
    /* margin-right: 30px; */
}
.main_page__header{
    background-color: rgba(0, 0, 0, 0.3);
}
.header_navs a{
    color: #FFFFFF;
}
.common__header{
    background-color: #FAF9F7;
}
.common__header a{
    color: #000000;
}
.header_navs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
}
.logo img{
    height: 76px;
    margin: 0 100px 0 100px;
}
.header_navs, .header_navs nav{
    display: flex;
    flex-direction: row;
}
.header_navs nav{
    width: 360px;
    /* display: flex; */
    /* justify-content: space-between; */
}
.header_navs .nav1{
    justify-content: flex-end;
}
.header_navs .nav1 a{
    margin-left: 30px;
}
.header_navs .nav2 a{
    margin-right: 30px;
}
.header_navs .nav2{
    justify-content: flex-start;
}
footer{
    background-color: #14110C;
    padding: 150px 100px 150px 100px;
    /* width: 100%;
    z-index: 1; */
    position: relative;
    /* position: absolute;
    bottom: 0; */
}
footer .column3{
    width: 20%;
}
footer li{
    margin-bottom: 32px;
}
li{
    list-style: none;
}
/* // 100px отступы в странице (есть не везде) и только слева*/
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    font-family: 'Comissioner';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.button{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 40px 10px 40px;
    border-radius: 24px;
    margin-bottom: 48px;
}
.button_white{
    color: #000000;
    background-color: #FAF9F7;
}
.button_black{
    color: #FAF9F7;
    background-color: #000000;
}
footer a, footer p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
.footer__navs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left_columns{
    display: flex;
    flex-direction: row;
}
.left_columns .column{
    margin-right: 50px;
}
/* //block1 */
.main__block1{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
.video_background{
    /* position: fixed;
    right: 0;
    bottom: 0; */
    /* position: relative;
    position: fixed; */
    min-width: 100%;
    /* min-height: 100%; */
    /* position: relative;
    position: absolute; */
    position: fixed;
    position: absolute;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.3); */
    right: 0;
    z-index: -1;
}
.block_heading{
    font-size: 36px;
    font-weight: 400;
}
/* .main__block1_content  */
h1{
    font-size: 64px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'Bodoni';
}
.show_from_the_bottom{
    animation: show_from_the_bottom 2s 1;
}
.increase_opacity{
    animation: increase_opacity 3s 1;
}
.from_the_bottom_and_opacity{
    animation: from_the_bottom_and_opacity 3s 1;
    
}
.sliding_block{
    background-color: #FAF9F7;
    width: 100%;
    height: 700px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    /* padding-right: 10px;
    padding-left: 10px; */
}
/* .main__block2, .main__block3{
    min-width: 500px;
    width: 190vw;
    height: 700px;
} */
.test_block1, .test_block2{
    width: 1000px;
    height: 500px;
    /* box-sizing: border-box;
    position: static; */
}
.test_block1{
    background-color: hotpink;
}

@keyframes show_from_the_bottom{
    0%{
        transform: translateY(50px);
        margin-bottom: -20px;
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-bottom: 0;
    }
}
@keyframes increase_opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes from_the_bottom_and_opacity {
    0%{
        transform: translateY(50px);
        margin-bottom: -20px;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-bottom: 0;
    }
}
@keyframes typing {
    0% { width: 0 }
    50% { width: 16ch }
    100% { width: 0 }
}
.typing_animation{
    width: 16ch;
    animation: typing 5s steps(16) infinite;
    white-space: nowrap;
    overflow: hidden;
}
.main__block1_content p{
    margin: 30px 0px 30px 0px;
}
.main__block1_content{
    color: #FAF9F7;
    z-index: 1;
    padding-top: 160px;
    padding-bottom: 250px;
    text-align: center;
    /* position: fixed; */

}


/* //block2 */
.main__block2{
    background-color: #FAF9F7;
    /* padding-left: 16px;
    padding-right: 16px; */
}
/* .main__block2  */
.block_heading{
    /* margin-bottom: 24px; */
}
.main__block2_content{
    width: 100vw;
}
.main__block2_content, .main__block4_content{
    display: flex;
    justify-content: center;
}
/* .main__block2_content .column, .main__block4_content .column{
    width: 50%;
} */
.column{
    width: 50%;
}
.main__block2_content .column_left, .main__block4_content .column_left{
    padding-top: 230px;
    padding-bottom: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .main__block2_content  */
.text_half p{
    /* // adapt */
    margin-top: 24px;
}




.text_half__content{
    opacity: 1;
    transition: opacity 2s, visibility 0s;
}
.text_half__content.hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}
/* //// */





.block_woods{
    position: relative;
    height: 700px;
    width: 100%;
}
/* .main__block2_content  */
.wood{
    position: absolute;
    /* z-index: 2; */
}
.wood_1{
    height: 220px;
    top: 44%;
    right: 35%;
    z-index: 2;
}
.wood_2{
    height: 133px;
    top: 37%;
    right: 25%;
    z-index: 1;
}
.wood_3{
    height: 308px;
    top: 20%;
    /* left: 22%; */
    right: 52%;
    z-index: 0;
}


.main__block3{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: #FAF9F7;
}
.block_top{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.main__block3 .block_heading{

}
/* .main__block3  */
.block_nav{
    display: flex;
    margin-left: 5.5vw;
    min-width: 30px;
}
/* .main__block3  */
.nav_link{
    color: #000000;
    padding: 3px 15px 3px 15px;
    border-radius: 14px;
    margin-right: 20px;
}
/* .main__block3  */
.nav_active{
    background-color: #000000;
    color: #ffffff;
}
/* .main__block3 .nav_active{
    background-color: #000000;
} */
/* .main__block3 .block_nav .nav_active a{
    color: #ffffff;
} */


/* // галерея вариант2 */
/* .grid1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
} */


.main__block3_content{
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    width: 100vw;
}
.main_page__gallery_img{
    height: 300px;
}

.project_card{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.project_card img{
    position: absolute;
    width: 100%;
    height: auto;
    top:46%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit:cover;
}
.cards_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 472px;
    height: 566px;
}
.main__block3 .card_1,.main__block3_content .card_2{
    width: 224px;
    height: 288px;
}
.main__block3 .card_3{
    width: 472px;
    height: 191px;
}
.main__block3 .card_4{
    width: 328px;
    height: 530px;
    margin-left: 10px;
}
.main__block3 .card_5{
    width: 524px;
    height: 530px;
    margin-left: 10px;
    margin-right: -0.2vw;
}
.card_name{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FAF9F7;
    color: #000000;
    z-index: 1;
}




.main__block4, .main__block5, .main__block6{
    background-color: #FAF9F7;
}
.main__block4_content .emphasize{
    font-size: 24px;
    /* margin: 30px 0 30px 0; */
}
.faded{
    opacity: 0.5;
}

.main__block5{
    padding-bottom: 50px;
}
.main__block5_gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
}
.main__block5 .card_1{
    width: 196px;
    height: 345px;
}
.main__block5_gallery .card_2{
 width: 507px;
 height: 390px;
}
.main__block5_gallery .card_3{
    width: 196px;
    height: 401px;
}
.main__block5_gallery .card_4{
    width: 155px;
    height: 325px;
}
.main__block6{
    position: relative;
    /* padding-top: 150px;
    padding-bottom: 150px; */
}
.form_block{
    /* padding-top: 150px;
    padding-bottom: 150px; */
    /* position: relative; */
}
.paddings{
    padding-left: 7vw;
    padding-right: 7vw;
}
.main__block6_content .block_heading{
    /* margin-bottom: 30px; */
}
.text_centre{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name_phone{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* .main__block6  */
.feedback_form{
    /* padding: 10px 50px 10px 50px; */
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
}
/* .main__block6  */
/* form  */
/* [dark].feedback_form input{
    border-bottom: 1px solid #ffffff;
} */
.feedback_form input{
    height: 50px;
    color: var(--var-text);
    border-bottom: 1px solid var(--var-text);
    margin-top: 20px;
    outline: none;
    background-color: transparent;
    font-family: 'Comissioner';
    font-size: 18px;
    font-weight: 400;
}
.feedback_form_btn{
    color: var(--var-bg);
    background-color: var(--var-text);
}
:root{
    --var-bg: #FAF9F7;
    --var-text: #000000;
}
.form_block{
    background-color: var(--var-bg);
    color: var(--var-text);
    position: relative;
}
.theme__fill{
    background-color: var(--var-bg);
    color: var(--var-text);
    mix-blend-mode: difference;
    /* transform: translateX(-100%); */
	/* transition: transform 4s linear; */
    /* position: fixed; */
    position: absolute;
    bottom: 0;
	inset: 0;
    /* inset: 300px -200px 0 0 ; */
	/* height: 100%; */
	animation: theme_animation 5s linear 1;
    pointer-events: none;
}
@keyframes theme_animation {
    0%{
        /* transform: translateX(100%); */
        bottom: 0;
        left: 0;
        height: 0;
        width: 0;
        /* transform: scale(0%); */

    }
    100%{
        /* transform: translateX(0%); */
        height: 100%;
        width: 100%;
        /* transform: scale(100%); */
    }
}







.feedback_form .name_phone input{
    width: 45%;
}
.feedback_form button{
    width: 226px;
}
.attach_file{
    color: var(--var-text);
    margin-top: 50px;
    margin-bottom: 100px;
    /* background-color: #FAF9F7; */
    background-color: transparent;
    display: flex;
    align-items: center;
}
.attach_file img{
    margin-right: 10px;
}
/* // для блоков, разделенных пополам */
.halfs_block{
    display: flex;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    min-height: 500px;
    /* position: relative; */
}
.halfs_block .column_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project_page .halfs_block{
    position: relative;
}
.img_half{
    position: relative;
    overflow: hidden;
}
.img_half img{
    width: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;

    /* height: 700px; */
}
.project_img{
    position: absolute;
}
.text_half{
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
.project_img_animation{
    animation: slideUp 3s linear;
}
.zoomed{
    transform: scale(2);
}
.zoomIn{
    animation: zoom 2s;
    animation-fill-mode: forwards;
}
@keyframes slideUp{
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
        
    }
}
.text_half .button{
    margin-top: 48px;
}
/* // projects page */
.projects, .error, .info, .materials, .privacy_policy, .project_page, .services, .designers{
    background-color: #FAF9F7;
}
.designers .form_block{
    padding-top: 0;
    padding-bottom: 0;
}
.projects__block1, .projects__block2{
    overflow: hidden;
}
.projects__block1_content{
    /* margin-right: -20px; */
    /* padding-right: 20px; */
    overflow: hidden;
}
.projects__block1 .button{
    margin-right: 20px;
}
.projects_card{
    /* padding: 1em; */
    /* margin: 20px; */
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.card_img{
    overflow: hidden;
    position: relative;
}
.projects_card img{
    /* position: absolute;
    height: 100%;
    width: auto;
    transform:translate(0%,-50%);
    object-fit: cover;
    z-index: 1; */


    position: absolute;
    width: auto;
    height: 100%;
    top:46%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
}
.projects_columns .card_3 img, .projects_columns .card_1 img, .projects_columns .card_2 img, .projects .card_9 .card_img{
    width: 100%;
    /* height: auto; */
}
.projects_columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.projects_card{
    overflow: hidden;
}
.projects_column_1, .projects_column_2, .projects_row_1{
    display: grid;
    justify-items: stretch;
    /* gr */
}

.card_img{
    overflow: hidden;
    /* box-sizing: border-box; */
}
.projects .card_3, .projects .card_4{
    /* height: 400px; */
    grid-column: 1/3;
}
.projects .card_7{
    grid-row: 2/4;
    /* grid-column: 1/3; */
}
.projects .card_4{
    /* height: 400px; */
    grid-column: 1/3;
    /* padding-right: 20px; */
}
.projects .card_5, .projects .card_6{
    grid-row: 1/2.5;
}
.projects .card_3 .card_img{
    height: 500px;
    width: 100%;
}
.projects .card_4 img{
    width: 100%;
}
.projects .card_4 .card_img{
    /* // адаптив */
    height: 210px;
}
.projects .card_1 .card_img, .projects .card_2 .card_img{
    height: 288px;
    /* height: 20vw;
    min-height: 250px; */
}
.projects_column_2{
    grid-template-columns: 1fr 1fr;
}
.projects_row_1{
    grid-template-columns: 1fr 2.5fr 1fr;
}
.projects_row_1 .card_img, .projects .card_9 img{
    /* width: 50vw; */
    width: 100%;
    /* height: auto; */
}
.projects .card_5 .card_img{
    height: 300px;
    /* grid-column: 0/1; */
}
.projects .card_5 .card_img, .projects .card_6 .card_img{
    
    height: 37.222vw;
    /* min-height: 336px; */
    /* height: 100%; */
    height: 100%;
    width: auto;
}
.projects .card_7 .card_img{
    height: 100%;
}
.projects .card_8 .card_img, .projects .card_9 .card_img{
    /* height: 300px; */
    height: 100%;
}
.projects_row_1 .card_10 .card_img, .projects_row_1 .card_11 .card_img, .projects_row_1 .card_12 .card_img{
    /* width: 100%;
    height: auto; */
    height: 400px;
}
.projects_row_1 .card_10 .card_img img, .projects_row_1 .card_11 .card_img img, .projects_row_1 .card_12 .card_img img{
    width: 100%;
}
.project_page > div{
    position: relative;
}
.chevron{
    /* margin-left: ; */
    position: absolute;
    top: 80px;
    left: 30px;
}
/* // project_page */
.project_page__block2{
    background-color: #FAF9F7;
}
.project_page__block2 .block_heading, .project_page__block3 .block_heading, .project_page__block4 .block_heading{
    margin-top: 162px;
}
.services{
    /* box-sizing: border-box; */
    background-color: #FAF9F7;
}
.services__block1{
    padding-top: 150px;
}

.info__block1, .info__block2{
    padding-bottom: 100px;
}
.info__block1{
    background-color: #000000;
    color: #ffffff;
}
.info__block2, .info__block3{
    background-color: #FAF9F7;
    padding-bottom: 100px;
}
.info h1{
    padding-top: 100px;
    padding-bottom: 48px;
}
summary, details{
    outline: none;
}
/* .accordeon summary::-webkit-details-marker,
.accordeon  */
.accordeon__item summary::-webkit-details-marker, .accordeon__item 
summary::marker{
    display: none;
    opacity: 0;
    z-index: -10;
}
.accordeon__title{
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
}
.collapse-content{
    padding-top: 48px;
    padding-bottom: 48px;
}
.info__block1 .accordeon__title{
    border-bottom: 1px solid #ffffff;
}
.info__block2 .accordeon__title{
    border-bottom: 1px solid #000000;
}
.privacy_policy .block_heading{
    margin-bottom: 48px;
}
.privacy_policy__text{
    border-top: 1px solid #000000;
    padding-top: 48px;
    padding-bottom: 100px;
}
.error__block_content{
    padding-top: 48px;
    padding-bottom: 100px;
}
/* .accordeon__item[open] .arrow{
    transform: rotate(180deg);
    outline: none;
    margin-right: -2.5px;
} */
/* .arrow{
    position: absolute;
    right: 20px;
}
details{
    outline: none;
}
summary{
    outline: none;
}
summary::-webkit-details-marker,
summary::marker{
    display: none;
} */

/* .color_black{
    background-color: #000000;
    color: #ffffff;
} */
@media (max-width:900px) {
    .mobile{
        display: block;
    }
    .header_navs{
        position: relative;
    }
    .button{
        width: 100%;
    }
    .container{
        position: relative;
    }
    .mobile_menu{
        height: 100vh;
        width: 100%;
        background-color: #FAF9F7;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
    }
    .mobile_nav li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #000000;
    }
    .mobile_nav a{
        color: #000000;
    }
    .mobile_menu button{
        background-color: transparent;
    }
    /* .mobile_nav li button{
        background-color: transparent;
    } */
    .mobile_nav_go_back{
        margin-top: 58px;
        margin-bottom: 48px;
    }
    .mobile_nav li:nth-child(6){
        border-bottom: 0px;
    }
    .hide{
        display: none;
    }
    .feedback_form .button{
        width: 100%;
    }
    .paddings{
        padding-left: 0;
        padding-right: 0;
    }
    .burger{
        position: absolute;
        left: 10px;
        top: 25%;
    }
    .block{
        padding-left: 16px;
        padding-right: 16px;
    }
    .desktop{
        display: none;
    }
    .block_top{
        justify-content: center;
        text-align: center;
        margin-left: 30px;
    }
    .header_navs .nav1, .header_navs .nav2{
        display: none;
    }
    body{
        font-size: 16px;
    }
    .main__block1_content h1{
        font-size: 36px;
    }
    .main__block2_content, .halfs_block, .main__block6_content, .footer__navs, .footer__navs .left_columns{
        flex-direction: column;
    }
    .wood_1{
        top: 44%;
        right: 18%;
    }
    .wood_2{
        top: 37%;
        right: 5%;
    }
    .wood_3{
        top: 10%;
        right: 50%;
    }
    .main__block4_content .halfs_block{
        flex-direction: column-reverse;
    }
    .column{
        width: 100%;
    }
    .main__block3{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .cards_block{
        height: auto;
    }
    .main__block3 .project_card{
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .main__block3 .card_1, .main__block3 .card_2{
        height: 324px;
        width: 48%;
    }
    .main__block3 .card_3{
        height: 572px;
    }
    .main__block3 .card_4{
        height: 245px;
    }
    /* .main__block3_content,  */
    .cards_block{
        width: 94vw;
    }
    .main__block3 .button{
        margin: 48px 0 48px 0;
    }
    .main__block5_gallery{
        flex-direction: column;
    }
    .main__block5_gallery .project_card{
        width: 100%;
    }
    /* .main__block6 form{
        padding: 48px 0 54px 0;
    } */
    .name_phone{
        flex-direction: column;
    }
    .feedback_form{
        margin-left: 0;
    }
    .feedback_form .name_phone input{
        width: 100%;
    }
    .attach_file{
        margin-bottom: 56px;
    }
    /* .main__block4  */
    .text_half{
        padding-top: 92px;
        padding-bottom: 92px;
        /* height: 108vw; */
        /* max-height: 700px; */
        min-height: fit-content;
        box-sizing: border-box;
    }
    .img_half{
        height: 108.267vw;
    }
    .main__block2 .text_half{
        padding: 92px 0px 92px 0px;
    }
    .main__block2_woods{
        height: 406px;
    }
    .main__block5{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .main__block6{
        padding-top: 54px;
        /* padding-bottom: 54px; */
    }
    .project_page .halfs_block, .materials__block1_content .halfs_block, .error__block_content .halfs_block{
        flex-direction: column-reverse;
    }
    .project_page__block2 .block_heading, .project_page__block3 .block_heading, .project_page__block4 .block_heading{
        margin-top: 48px;
        margin-bottom: 24px;
    }
    .chevron_fixed{
        position: fixed;
        bottom: 10%;
        left: 2%;
        z-index: 3;
        background-color: transparent;
    }
    .services__block1{
        padding-top: 50px;
    }

    .services__block2{
        padding-top: 54px;
    }
    .accordeon__title{
        font-size: 24px;
        height: 88px;
    }

    .projects_columns, 
    /* .projects_column_2,  */
    .projects_row_1{
        grid-template-columns: 1fr;
    }
    .projects_card{
        margin-right: 0;
    }
    .projects .card_4{
        /* padding-right: 0px; */
    }
    /* спозиционировать 8 карточку */
    .projects .card_5, .projects .card_6, .projects .card_9{
        grid-column: 1/3;
        /* grid-row: 2/3; */
    }
    .projects .card_1 .card_img, .projects .card_2 .card_img, .projects .card_6 .card_img, .projects .card_7 .card_img, .projects .card_8 .card_img{
        height: 76.8vw;
    }
    .projects .card_6 .card_img img{
        width: 100%;
    }
    .projects .card_1, .projects .card_7{
        margin-right: 20px;
    }
    .projects .card_8{
        grid-column: 2/3;
        grid-row: 2;
    }
    .projects .card_5 .card_img, .projects .card_9 .card_img{
        height: 142.933vw;
    }
    footer{
        padding: 48px 10px 48px 10px;
    }
    footer .column1, footer .column2{
        margin-bottom: 100px;
    }
    footer .column1, footer .column2, footer .column3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
@media (min-width:466px) and (max-width:900px) {
    .wood_1{
        top: 44%;
        right: 33%;
    }
    .wood_2{
        top: 37%;
        right: 27%;
    }
    .wood_3{
        top: 10%;
        right: 50%;
    }

}